body {
    background-color: powderblue;
}
h1{
    color: blue;
}

.page-title {
    color: cadetblue;
    text-align: center;
    font-size: 30px;
}


.page-content {
    margin: 10px;
    /* background-color: yellow; */
}